<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee">

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.appsrox.messenger.server.RegisterServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Unregister</servlet-name>
		<servlet-class>com.appsrox.messenger.server.UnregisterServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Unregister</servlet-name>
		<url-pattern>/unregister</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Send</servlet-name>
		<servlet-class>com.appsrox.messenger.server.SendServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Send</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet
		</servlet-class>

		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>